---
Checks: >
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  unused-*,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-macro-usage,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: ''

CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'