build*/
.*
!.git*
.git/
*.tar.*
*.kdev4
*.kate-swp
*.orig
tags
astyle.sh
cscope.*
*.part
XF86keysym.h
keysymdef.h
*~
!.clang-format
!.clang-tidy

# CMake build files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
ecm_uninstall.cmake
install_manifest.txt
org.fcitx.Fcitx5.Addon.Lotus.metainfo.xml
Makefile
.vscode/
compile_commands.json
!.all-contributorsrc
refresh-contributor